@import "tailwindcss";

@theme inline {
    --font-sans: "EvilEmpire", ui-sans-serif, system-ui, sans-serif;
}

html,
body,
#app {
    min-height: 100%;
}

canvas {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: "EvilEmpire" !important;
    background-color: #0a1418;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "EvilEmpire";
    src: url("fonts/EvilEmpire.woff2") format("woff2"),
        url("fonts/EvilEmpire.woff") format("woff"),
        url("fonts/EvilEmpire.ttf") format("truetype");
}
